---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_HEAD_TITLE } from '../consts';
import { getCollection } from 'astro:content';
import ShortDate from '../components/ShortDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<!doctype html>
<html lang="pt-br" class="dark">
	<head>
		<BaseHead title={SITE_HEAD_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body class="flex justify-center bg-quartz-d70 text-quartz-l80">
		<div class="max-w-screen-sm mx-4">
			<Header />
			<main>
				<section>
					<h3 class="text-4xl font-semibold	my-16">Posts</h3>
					<ul class="flex flex-col gap-y-2 my-16">
						{
							posts.map((post:any) => (
								<li class="hover:bg-quartz-d40 p-1.5">
									<a href={`/blog/${post.slug}/`} class="flex gap-x-8 no-underline">
										<p class="text-quartz-l20 font-mono">
											<ShortDate date={post.data.pubDate} />
										</p>
										<h4 class="underline">{post.data.title}</h4>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</main>
			<Footer />
		</div>
	</body>
</html>
