---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="flex justify-center bg-quartz-d70 text-quartz-l80 post-page">
		<div class="max-w-screen-sm mx-4">
			<Header />
			<main>
			<article>
				<h1 class="text-4xl font-semibold	my-16">{title}</h1>
				<div class="hero-image border-solid border-2 border-quartz-80 p-2 mb-6">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="post-contents my-10">
						<slot class="my-10" />
					</div>
					
				</div>
			</article>
			<hr class="my-6 bg-quartz-l20 border-quartz-l20" />
			<div class="flex">
				<a class="no-underline hover:bg-quartz-d40 p-1.5 inline-block" href="/">← Início</a> 
				<p class="date p-1.5 text-quartz-l20 italic">·	&nbsp; Publicado em {updatedDate ? (<FormattedDate date={updatedDate} />) : <FormattedDate date={pubDate} />}</p>
			</div>
			<hr class="my-6 bg-quartz-l20 border-quartz-l20" />
		</main>
		<Footer />
	</body>
</html>
